@charset "UTF-8";

section{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	height: 720px;
}
#menu{
	display: flex;
	flex-direction: row;
	width:60%;
	height:50px;
	border-radius: 10px;
	margin-bottom: 5px;
}
#menubox{
	display: flex;
	flex-direction: row;
	background-color: #A4A4A4;
	border-radius: 5px;
	width: 100%;
	height: 50px;

}
#menubox a{
	display:inline-block;
	width: 100%;
	text-align:center;
	padding:5px;
	text-decoration: none;
	font-family: 'Staatliches', cursive;
	font-size: 25pt;
	color:white;
	border-radius: 5px;
}
#a0:hover{
	background-color: #CEECF5;
}
#a1:hover{
	background-color: #A9E2F3;
}
#a2:hover{
	background-color: #81DAF5;
}
#a3:hover{
	background-color: #58D3F7;
}
#read{
	width:60%;
	height: 700px;
}
#readlabel{
	text-align: center;
	font-family: 'Staatliches', cursive;
	font-size: 30pt;
	color:white;
}#readlabel a{
	text-decoration: none;
	font-size: 30pt;
	color:white;
}
#readbox{
	text-align:center;
	font-family: 'Sunflower', sans-serif;
	width: 100%;
	height: 650px;
	background-color: white;
	border-radius: 4px;
	border:10px solid white;
	overflow: auto;
	margin-bottom:0px;
}
#readbox img{
	border-radius:5px;
}