@charset "UTF-8";
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#main{
	display: flex;
	flex-direction: column;
	width: 80%;
	padding: 5px;
	background-color: #6E6E6E;
	color:white;
	font-size:20pt;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
}
#TCbox{
	display: flex;
	flex-flow: row wrap;
	width: 80%;
	height: 600px;
	background-color:#6E6E6E;
	position: relative;
	overflow:auto;
	border: 10px solid #6E6E6E;
	border-top:0px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius: 4px;
}

#main h1{
	margin:0 auto; font-family: 'Staatliches', cursive;
}
.downbox{
	position:absolute;
	top:70%;
	left:25%;
	margin:8px auto;
	width: 150px;
	padding:8px 16px;
	color:white;
	text-decoration:none;
	background-color:#FF8000;
	font-family: 'Sunflower', sans-serif;
	font-size:12pt;
	border: 5px solid #FF8000;
	}
.downbox:hover{
	background-color:#FFBF00;
	border: 5px solid #FFBF00;
	cursor:pointer
	}
.toolbox{
	width:298px;
	height:300px;
	background-color: #424242;
	border-right:2px dotted  #6E6E6E;
	border-bottom:2px dotted #6E6E6E;
	position: relative;
	margin-bottom:0px;
	text-align:center;
	font-family: 'Sunflower', sans-serif;
}
.logobox{
	position:absolute;
	top:45%;
	left:0%;
	width:100%;
	text-align:center ;
}
.toolbox h3{

	color:white;
	}
.toolbox img{
	position:absolute;
	top:10%;
	left:32%;
	width:110px;
	height:110px;
	}


.back_effect{
	display:none;
	position:absolute; 
	opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */ 
    left:0; 
    width:100%; 
    height: 100%; 
    background-color:#2E2E2E;
    transition-duration: 2s;
}
.front_effect{
	display: none;
	position: absolute; 
	left:25%; 
	top:30%; 
	width:50%; 
	height: 50%; 
	background-color:#E6E6E6;
	border-radius: 5px;
	transition-duration: 2s;
}
.fr_top{
	width:100%;
	height: 10%;
}
.fr_box{
	display:flex;
	flex-flow: row wrap;
	width:100%;
	height:100%;
	font-family: 'Sunflower', sans-serif;
}
.fr_close{
	margin:0px auto;
	text-align:center;
	font-size:20pt;
	padding:15px;
}
.fr_close a{
	text-decoration: none;
	color:black;
	font-family: 'Staatliches', cursive;
}
.fr_close a:hover{
	color:#424242;
}
.fr_icon{
	width:100%;
	height:50%;
	background-color:#D8D8D8;
	text-align:center;
	margin-bottom:0px;
	justify-content: center;
	align-items: center;
}
.fr_icon img{
	margin-top:20px;
	width: 150px;
	height: 150px;
}
.fr_icon h3{
	font-size:20pt;
	margin:0px;
}

.fr_site{
	text-align:center;
	width:30%;
	height: 30%;
	border-right:3px dotted gray;
	margin:0px;
}
.fr_down{
	display:flex;
	justify-content: center;
	flex-direction:row;
	width:70%;
	height:30%;
	margin:0px;
}

.fr_downbox{
	width:30%;
	height: 100%;
	margin:5px;
	text-align: center;
	font-weight:900;
	background-color: #D8D8D8;
	border-radius: 10px;
}
.fr_button{
	width:150px;
	height: 30%;
	background-color:#FF8000;
	border: 5px solid #FF8000;
	font-family: 'Staatliches', cursive;
	font-size:14pt;
	color:white;
	margin-bottom:30px;
	margin-top:0px;
}
.fr_button:hover{
	background-color:#FACC2E;
	border: 5px solid #FACC2E;
	cursor:pointer
}